@{
    ViewData["Title"] = "Select Your Organisation";
}
@model SchoolAccount.Alpha.ViewModels.UserViewModel
<p class="govuk-body">
    Welcome to the prototype service, @Model.Name @Model.LastName
</p>

<h2 class="govuk-heading-m">Select Your Organisation:</h2>
<ul class="govuk-list">
    @foreach (var org in Model.Organisations)
    {
        var link = org.Category.Id == "001" ? "School" : "Group";

        <li>
            <a class="govuk-link" asp-action="@link" asp-route-ukprn="@org.Ukprn">
                <strong>@org.Name</strong>
                @if (!string.IsNullOrEmpty(org.Ukprn))
                {
                    <text> (UKPRN: @org.Ukprn)</text>
                }
            </a>
        </li>
    }
</ul>